/*Defining our global variables*/
:root{
    --color-red: hsl(0, 100%, 67%);
    --color-orange: hsl(39, 100%, 56%);
    --color-green: hsl(166, 100%, 37%);
    --color-cblue: hsl(234, 85%, 45%);
    --grad-slate-blue: hsl(252, 100%, 67%);
    --grad-royal-blue: hsl(241, 81%, 54%);
    --grad-violet-blue: hsla(256, 72%, 46%, 1);
    --grad-persian-blue: hsla(241, 72%, 46%, 0);
    --color-white: hsl(0, 0%, 100%);
    --color-pale-blue: hsl(221, 100%, 96%);
    --color-lavender: hsl(241, 100%, 89%);
    --color-dgray-blue: hsl(224, 30%, 27%);
    
    
}

*, *::after, *::before {
    box-sizing: border-box;
    
}

/* Typography */

html{
    /*62.5% of 16px = 10px*/
    font-size: 62.5%;    
}

h1{
    font-size: 5rem;
    margin: 0;
}

h2{
    /*3 x font-size of the html element*/
    font-size: 3rem; /*30px*/
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}


h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

p{
    
    font-size: 1.8rem; /* 18px */
    color: var(--color-lavender);;
    margin: 0;
}

.bold{
    font-weight: bold;    
}

.white {
    color: var(--color-white);
}


/* Icons */

.icon {
    width: 30px;
    height: 30px;
}



/* Badges */

.badge {    
    margin-bottom: 1.5rem;
    display: flex;
    border-radius: 15px;
    padding: 1.5rem 1rem;    
    width: auto;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

.badge__head{
    display: flex;
    align-items: center;
}

.badge__score {
    display: flex;
    align-items: center;
}

.badge h3 {    
    margin-left: .6rem;
}

.badge--one{
    background: hsla(0, 100%, 67%, 0.1);
    color: var(--color-red); 
}

.badge--two{
    background: hsla(39, 100%, 56%, 0.1);
    color: var(--color-orange); 
}

.badge--three{
    background: hsla(166, 100%, 37%, 0.1);
    color: var(--color-green); 
}

.badge--four{
    background: hsla(234, 85%, 45%, 0.1);
    color: var(--color-cblue); 
}

.score--normal{
    color: gray;
    
}

.score--dark{
    color: var(--color-dgray-blue);
    margin-right: .6rem;       
}


/* Buttons */

.btn{
    background: var(--color-dgray-blue);
    border-radius: 2rem;
    border: 0;
    color: var(--color-white);
    cursor: pointer;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: auto;
    padding: 1rem;
    white-space: nowrap;
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 2.5rem;
    
}

.btn:hover{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}



/* Circle*/

.circle {
    background: linear-gradient(var(--grad-violet-blue), var(--grad-persian-blue));
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}